main {

    font-family: 'Roboto Mono', monospace;
    color: black;
    text-align: center;
    max-width: 760px;
    background-color: white;
}

h1 {
    font-family: 'Tangerine', cursive;
    color: black;
    background-color: rgb(96, 226, 215);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    max-width: 760px;
}

h2 {
    text-align: left;

    font-size: 25px;
    line-height: 0em;


}

ul {
    text-align: left;
}

footer {
    text-align: center;
    font-size: 15px;
    font-weight: inherit;
    background-color: rgb(96, 226, 215);
    max-width: 760px;
}

img {
    width: 200px;
    float: right;
    margin: 10px;
}